.projectManage-top-layout-background{
    height: 200px;
    margin: 5px 16px 0px 16px;
    padding: 0;
    background: #fff;
  }
  .projectManage-top-title-wrap{
    font-size: 18px;
    font-weight: 600;
  }
  .projectManage-top-queryForm-wrap1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  .projectManage-top-queryForm-wrap2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .projectManage-top-actionBtn-wrap{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .projectManage-buttom-layout-background{
    height: 76vh;
    margin: 5px 16px 0px 16px;
    padding: 0;
    background: #fff;
  }