/* 企业经营情况表格样式 */
.ms-table-row {
  border-bottom: 2px solid rgb(186, 184, 184);
}

/* 企业经营情况 */
.ms {
  font-size: 30px;
}

/* 企业经营情况表格里的大标题 */
.ms-big-title {
  font-size: 20px;
}

/* 企业经营情况表格里的标题单元格 */
.ms-title-td {
  width: 55px;
}

/* 企业经营情况表格里的内容单元格 */
/* 收入相关 */
.ms-ic-info-td {
  width: 55px;
}

/* 支出相关 */
.ms-ex-info-td {
  width: 55px;
}

/* 人工相关 */
.ms-ar-info-td {
  width: 110px;
}

/* 资质单元格 */
.ms-qua-info-td {
  width: 220px;
}

.ant-select-selector {
  padding: 0 !important;
}
.selectDropdown-short {
  width: 5em !important;
}
.selectDropdown-long {
  width: 11em !important;
}
.evaluation-results .ant-table-title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  border: 0;
}
.evaluation-results .ant-modal-body {
  padding: 0;
  border: 0;
}
.evaluation-results .ant-modal-footer {
  border: 0;
}
